th {
    border-collapse: collapse;
    border: 1px solid black;
	text-align: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 15px;
    width: 100%;
    font-size: 1.75em;
    height: 51px;
    padding: 10px;
    background-color: #1975bc;
    color: #ffffff;
}

.header {
    height: 50px;
}

.table {
    border-collapse: collapse;
    border: 1px solid black;
	text-align: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif; 
    width: 100%;
}

#master-div {
    margin-left: 20%;
    width: 125%;
}

.col-sm-1 {
    margin: 0 auto;
    display: block;
    margin-left: -32px;
}

.table-responsive {
	display: block;
    text-decoration: none;
    width: 100%;
    float: right;
}

times, table1, table2, table3, table4, table5, table6, table7 {
    display: block;
    text-decoration: none;
    float: left;
}

#redirect {
    width: 100%;
    height: 78px;
    display: block;
    background-color: #79bd90;
    text-decoration: none;
    font-size: 1.5em;
    color: #ffffff;
    border-collapse: collapse;
    border: 0.2px solid #ffffff;
    border-left-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding-top: 21px;
    float: right;   
}

.links {
    display: block;
    overflow: hidden;
}

#booked{
    height: 78px;
    width: 100%;
    display: block;
    background-color: #d6d6d6;
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(102, 102, 102);
    border-collapse: collapse;
    border: 1px solid #ffffff;
    border-left-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 21px;
    margin: 0 auto;
    float: right;
}

.time {
    width: 100%;
    height: 78px;
    background-color: #ffffff;
    color: #1975bc;
    font-size: 1.5em;
    padding-top: 21px;
    border-collapse: collapse;
    border: 1px solid black;
    border-top: 2px solid black;
    border-right-color: black;
	text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    float: left;
}

body{
  background: url("../assets/header.png") no-repeat center top, url("../assets/dibs.png") no-repeat center center fixed;
  -webkit-background-size: contain, cover;
  -moz-background-size: contain, cover;
  -o-background-size: contain, cover;
  background-size: contain, cover;
}

.col-sm-5{
	color: #ffffff;
    text-align: center;
}

#col-sm-4{
    text-align: center;
    float: right;
}

.title {
    color: #ffffff; 
    font-size: 160%;
	font-family: Arial, Helvetica, sans-serif;
	color: ffffff; 
}

.room-number{
    color: #ffffff;
	font-size: 40em;
	line-height: 450px;
}

.instructions{
	font-size: 1.5em;
}

.foot{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 20px;
}

.rowVWade {
    border: 2px black;
    margin: 0 auto;
    height: 100%;
    display: block;
}