table, th, td{
	border-collapse: collapse;
    border: 1px solid black;
	text-align: center;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

th, td {
    padding: 7px;
	font-size: 2em;
}

h2{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

body{
  background: url(dibs.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.col-sm-5{
	font-size: 40em;
	color: ffffff;
	text-align: right;
}
