table, th, td{
	border-collapse: collapse;
    border: 1px solid black;
	text-align: center;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

.table-responsive a{
	width: 100%;
	display: block;
    text-decoration: none;
}

th, td {
    padding: 7px;
	font-size: 2em;
}

h2{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

body{
  background: url(header.png) no-repeat center top, url(dibs_6.png) no-repeat center center fixed;
  -webkit-background-size: contain, cover;
  -moz-background-size: contain, cover;
  -o-background-size: contain, cover;
  background-size: contain, cover;
}

.col-sm-5{
	color: ffffff;
	text-align: center;
}

.col-sm-4{
	width: 55%;
	text-align: center;
}

.room-number{
	font-size: 40em;
	line-height: 450px;
}

.instructions{
	font-size: 1.5em;
}